<div>
  <div>
    <h1>
      List of everyone's picks
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border = 1>
      <tr>
     
        <th>
          User
        </th>
 
           <% @list_of_bowlgames.order( :game_time).reverse.each do |a_bowlgame| %>
           <th> <%= a_bowlgame.name %> </th>
           <% end %>
     
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>
            
     
         <% @users = User.all.each do |a_user| %> 
           <tr> <td> <%= a_user.name %> </td>  </tr>
           <% @list_of_picks.order( :game_time).reverse.each do |a_pick| %>
            <% team = a_pick.picked_team_id %>
          <td> <% Team.where({ :id => team}).at(0).name %> </td>
          
            <% end %>

        <td>
         <% @list_of_picks.order( :game_time).reverse.each do |a_pick| %>
          <%= time_ago_in_words(a_pick.created_at) %> ago
          <% end %>
        </td>
        <td>
          <% @list_of_picks.order( :game_time).reverse.each do |a_pick| %>
          <%= time_ago_in_words(a_pick.updated_at) %> ago
          <% end %>
        </td>
      </tr>
      
      <% end %>
    </table>
  </div>
</div>

<hr>
