<div>
  <div>
    <h1>
      List of everyone's picks
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table border = 1>
      <tr>
     
        <th>
          User
        </th>
 
           <% @list_of_bowlgames.order( :game_time).reverse.each do |a_bowlgame| %>
           <th> <%= a_bowlgame.name %> </th>
           <% end %>
       
       <th>
          Score
        </th>
       
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

      
      </tr>
            
     
         <% @users = User.all.each do |a_user| %> 
            <% win_count = 0 %>
           <tr> 
           <td> <%= a_user.name %> </td>  
             <% @list_of_bowlgames.order( :game_time).reverse.each do |a_bowlgame| %>
           <td> 
            <% user_pick = Pick.where({ :user_id => a_user.id, :bowl_game_id => a_bowlgame.id}) %>
            
                <% if user_pick.present? %>
                
                      <% if Pick.where({ :bowl_game_id => a_bowlgame.id, :user_id => a_user.id, :picked_team_id => a_bowlgame.winner_id }).present?  %>
                          <% win_count = win_count + 1 %>
                        <% end %>
                            
                <%= user_pick.at(0).picked_team.name %> 
                <% else %> 
                  --
                <% end %> 
             </td>   
            <% end %> 
            <td> 
              <%= win_count %>
            </td>
             </tr>
          
      <% end %>
    </table>
  </div>
</div>

<hr>
