<!DOCTYPE html>
<html>
  <head>
    <title>The Pop Bowl</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
     <% if session.fetch(:user_id) == nil %> 
      <li>
        <a href="/user_sign_up">
        Sign Up 
        </a>
      </li>
      <li>
        <a href="/user_sign_in">
        Sign In 
        </a>
      </li>
    <% else %>
      <li>
        <a href="/user_sign_out">
        Sign Out 
        </a>
      </li>
      <% end %>      
    </ul>
   <li>
        <a href="/">Home</a>
   </li>
   <li> 
      <a href="/bowlgames">Enter Bowl Games</a>
   </li>
   <li> 
      <a href="/picks">Enter Your Picks</a>
   </li>
    <li> 
      <a href="/family_picks">See Everyone's Picks</a>
   </li>
    <li> 
      <a href="/teams">View the College Football Teams</a>
   </li>
    <%= yield %>  
  </body>
</html>
