<h1> Welcome to the Pop Bowl! </h1>
<h2> IYGTBYWTT </h2>
<h3> 1958	Dad
1959	Pop
1961	Sam, John
1962	Mary
1963	John
1964	Bob
1965	Dam, Sam
1966	Mary
1967	Sam
1968	Dad
1969	Mary
1970	Mom
1971	Mom
1972	John
1973	Sam
1974	Chris, Dad
1975	Dad, Mom, John, Catherine, Chris, Bob, Mary
1976	Mary
1977	Mom
1978	Chris
1979	Dad, John, Bonnie
1980	Mary
1981	John
1982	Bonnie, John
1983	Bonnie, Sam, Chris, Bob
1984	Tom
1985	Mom
1986	Reuben
1987	Bob
1988	Dad
1989	John
1990	John, Mom, Sam, Reuben, Bonnie, Mary, Christine
1991	Bonnie, Dad
1992	Nelle
1993	Nelle, Jared
1994	Patty
1995	Mary, Christine
1996	Christine, Jake, Mom
1997	Mom, John
1998	Patty
1999	Sam
2000	Jared
2001	Lisa, Sam
2002	BB, Maia, Patty, Bob
2003	Reuben
2004	Will
2005	Libby, Sam
2006	Bob
2007	Reuben
2008	Ben, Jared, Libby
2009	Mom, Ned
2010	Jared
2011	Mom, Mary
2012	Bob, Patty
2013	Mom, John, Liza
2014	Mary, Ned
2015	Will
2016	Patty, Annie, Libby
2017	Patty
2018	Reuben
2019	Bob
2020	Mary
2021	Jared
2022	Kate W
</h3>