<h1> Welcome to the Pop Bowl! </h1>
<h2> IYGTBYWTT </h2>

<img src="/PopBowl.jpg" alt="The Pop Bowl Trophy" style="max-width:20%">

<br>
<br>

<table border="1">
  <tr>
    <td><b>Year</b></td>
    <td><b>Winner</b></td>
  </tr>
    <tr><td>1958</td><td>Dad</td></tr>
    <tr><td>1959</td><td>Pop</td></tr>
    <tr><td>1961</td><td>Sam, John</td></tr>
    <tr><td>1962</td><td>Mary</td></tr>
    <tr><td>1963</td><td>John</td></tr>
    <tr><td>1964</td><td>Bob</td></tr>
    <tr><td>1965</td><td>Dam, Sam</td></tr>
    <tr><td>1966</td><td>Mary</td></tr>
    <tr><td>1967</td><td>Sam</td></tr>
    <tr><td>1968</td><td>Dad</td></tr>
    <tr><td>1969</td><td>Mary</td></tr>
    <tr><td>1970</td><td>Mom</td></tr>
    <tr><td>1971</td><td>Mom</td></tr>
    <tr><td>1972</td><td>John</td></tr>
    <tr><td>1973</td><td>Sam</td></tr>
    <tr><td>1974</td><td>Chris, Dad</td></tr>
    <tr><td>1975</td><td>Dad, Mom, John, Catherine, Chris, Bob, Mary</td></tr>
    <tr><td>1976</td><td>Mary</td></tr>
    <tr><td>1977</td><td>Mom</td></tr>
    <tr><td>1978</td><td>Chris</td></tr>
    <tr><td>1979</td><td>Dad, John, Bonnie</td></tr>
    <tr><td>1980</td><td>Mary</td></tr>
    <tr><td>1981</td><td>John</td></tr>
    <tr><td>1982</td><td>Bonnie, John</td></tr>
    <tr><td>1983</td><td>Bonnie, Sam, Chris, Bob</td></tr>
    <tr><td>1984</td><td>Tom</td></tr>
    <tr><td>1985</td><td>Mom</td></tr>
    <tr><td>1986</td><td>Reuben</td></tr>
    <tr><td>1987</td><td>Bob</td></tr>
    <tr><td>1988</td><td>Dad</td></tr>
    <tr><td>1989</td><td>John</td></tr>
    <tr><td>1990</td><td>John, Mom, Sam, Reuben, Bonnie, Mary, Christine</td></tr>
    <tr><td>1991</td><td>Bonnie, Dad</td></tr>
    <tr><td>1992</td><td>Nelle</td></tr>
    <tr><td>1993</td><td>Nelle, Jared</td></tr>
    <tr><td>1994</td><td>Patty</td></tr>
    <tr><td>1995</td><td>Mary, Christine</td></tr>
    <tr><td>1996</td><td>Christine, Jake, Mom</td></tr>
    <tr><td>1997</td><td>Mom, John</td></tr>
    <tr><td>1998</td><td>Patty</td></tr>
    <tr><td>1999</td><td>Sam</td></tr>
    <tr><td>2000</td><td>Jared</td></tr>
    <tr><td>2001</td><td>Lisa, Sam</td></tr>
    <tr><td>2002</td><td>BB, Maia, Patty, Bob</td></tr>
    <tr><td>2003</td><td>Reuben</td></tr>
    <tr><td>2004</td><td>Will</td></tr>
    <tr><td>2005</td><td>Libby, Sam</td></tr>
    <tr><td>2006</td><td>Bob</td></tr>
    <tr><td>2007</td><td>Reuben</td></tr>
    <tr><td>2008</td><td>Ben, Jared, Libby</td></tr>
    <tr><td>2009</td><td>Mom, Ned</td></tr>
    <tr><td>2010</td><td>Jared</td></tr>
    <tr><td>2011</td><td>Mom, Mary</td></tr>
    <tr><td>2012</td><td>Bob, Patty</td></tr>
    <tr><td>2013</td><td>Mom, John, Liza</td></tr>
    <tr><td>2014</td><td>Mary, Ned</td></tr>
    <tr><td>2015</td><td>Will</td></tr>
    <tr><td>2016</td><td>Patty, Annie, Libby</td></tr>
    <tr><td>2017</td><td>Patty</td></tr>
    <tr><td>2018</td><td>Reuben</td></tr>
    <tr><td>2019</td><td>Bob</td></tr>
    <tr><td>2020</td><td>Mary</td></tr>
    <tr><td>2021</td><td>Jared</td></tr>
    <tr><td>2022</td><td>Kate W</td></tr>